#all {
    font-family: Arial, Helvetica, sans-serif;
}
#main-heading {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 48px;
}
img {
    height: auto;
    width: 825px;
    float: right;
}